@use "../../Style/Partials/global" as *;
@use "../../Style/Partials/mixins" as *;
@use "../../Style/Partials/variable" as *;
@use "../../Style/Partials/typography" as *;

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.modal {
  width: 100vw;
  height: 100vh;

  &__container {
    @include tablet-and-desktop {
      width: 42rem;
      height: 16.375rem;
      top: 11.5625rem;
      left: 50%;
      translate: transformX(-50%);
    }
    &-close {
      &-img {
      }
    }
    &-heading {
      @include mobile-header;
      font-weight: $text-demi;
      margin: 0;
      margin-left: 0.5rem;
      @include tablet-and-desktop {
        @include tabdesk-header;
      }
    }
    &-description {
      @include mobile-p1-body-large;
      @include tablet-and-desktop {
        @include tabdesk-p1-body-large;
      }
    }
    &-cta {
      display: flex;
      justify-content: space-around;
      padding: 1rem 0;
      margin-top: 1.5rem;
      @include tablet-and-desktop {
        padding-right: 3.5rem;
        justify-content: flex-end;
      }
      @include desktop {
        padding-right: 2rem;
      }
      &-cancel {
        display: block;
        color: $secondary-cloud;
        background-color: $primary-white;
        border-radius: 1.25rem;
        border-color: $secondary-cloud;
        text-align: center;
        padding: 0.5rem 1rem 0.5rem 1rem;
        // height: 2.25rem;
        // width: 7.6875rem;
        @include tablet-and-desktop {
          padding: 0.5rem 1rem 0.5rem 1rem;
          //   width: 4.5rem;
          //   height: 2.375rem;
        }
      }

      &-delete {
        background-color: $supporting-red;
        text-align: center;
        height: 2.25rem;
        width: 7.6875rem;
        border-radius: 1.25rem;
        border: none;
        color: $primary-white;
        @include tablet-and-desktop {
          width: 4.5rem;
          height: 2.375rem;
          margin-left: 1rem;
        }
      }
    }
  }
}
