@use "../../Style/Partials/variable" as *;
@use "../../Style/Partials/typography" as *;
@use "../../Style/Partials/mixins" as *;
@use "../../Style/Partials/global" as *;
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.inventorylist{
    margin: auto;
    margin-top: -3%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: white;
    max-width: 94%;
    @include tablet-and-desktop{
        width: 95%;
    }
    @include desktop{
        max-width: 78%;
    }
}
.header{
    &__headparent{
        @include tablet-and-desktop{
            justify-content: space-between;
            padding-right: 2rem;
            display: flex;
            flex-direction: row;
            gap: 8.5rem;
        } 
        @include desktop{
            gap: 21.5rem;
        } 
    }
    &__header{
        font-size: $mobile-header-fontsize;
        padding-top: 1.5rem;
        padding-left: 1.5rem;
        margin-bottom: 0.75rem;
        @include tablet-and-desktop{
            font-size: $tabdesk-header-fontsize;
            padding-top: 2rem;
            padding-left: 1.5rem;
        }
        @include desktop{
            font-size: $tabdesk-header-fontsize;
            padding-top: 2rem;
            padding-left: 2rem;
        }
    }
    &__form{
        &--parent{
            padding-bottom: 1.25rem;
            @include tablet-and-desktop{
                display: flex;
                flex-direction: row;
                border-bottom: none;
                margin-top: 2rem;
            }
            @include desktop{
                padding-bottom: 0.5rem;
            }
        }
        &--searchinput{
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            border-radius: 20px;
            border: 1px solid $secondary-cloud;
            padding: 0.5rem;
            padding-left: 1rem;
            background-image: url("../../assets/Icons/search-24px.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            width: 85%;
            &::placeholder{
                font-family: "Titillium Web", sans-serif;
                }
            @include tablet-and-desktop{
                    width: 12rem;
                    height: 2.5rem;
                    &::placeholder{
                        font-size: $tabdesk-labels-links-buttons-fontsize;
                        }
            }
            @include desktop{
                width: 17rem;
                height: 2.3rem;
        }
        }
        &--additembutton{
            margin-left: 1.5rem;
            border-radius: 20px;
            border: 1px solid $primary-indigo;
            background-color: $primary-indigo;
            color: $primary-white;
            padding: 0.5rem;
            width: 85%;
            @include tablet-and-desktop{
                width: 9rem;
                height: 2.5rem;
                font-size: $tabdesk-labels-links-buttons-fontsize;
            }
            @include desktop{
                width: 8rem;
                height: 2.3rem;
            }
        }
    }
}
.table{
    &__mobilecontainer{
        border-top: 2px solid $secondary-cloud;
        &:hover{
            background-color: $tablehover;
        }
        @include tablet-and-desktop{
            display: none;
        }
    }
    &__container{
        padding-bottom: 1rem;
        border-bottom: 2px solid $secondary-cloud;
                @include tablet-and-desktop{
            display: none;
        }
    }
    &__detailparent{
            display: flex;
            flex-direction: row;
            gap: 25%;
            padding-left: 1.5rem;
    }
    &__title{
        font-size: $mobile-table-header-fontsize;
        line-height: $mobile-table-header-lineheight;
        color: $secondary-slate;
        font-weight: $text-demi;
        margin-top: 1.25rem;
        @include desktop{
            font-size: $tabdesk-table-header-fontsize;
        }
        }
    &__value{
        margin: 0;
        font-size: $mobile-p2-body-medium-fontsize;
        padding-bottom: 1rem;
        &--product{
            padding-bottom: 1rem;
            color: $primary-indigo;
            font-weight: $text-demi;
            margin: 0;
            &::after {
                content: " >";
              }
        }
    }
    &__button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 2rem 1rem 1rem;
            @include desktop{
                justify-content: flex-start;
                gap: 1rem;
                padding: 0.5rem 0 1rem 1rem;
                margin-left: 2rem;
            }
            &--delete, &--edit{
                border: none;
                background-color: transparent;
            }
        }
}
.status2{
    color: $supporting-red;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    margin-bottom: 1rem;
    border-radius: 20px;
    background-color: #fbf2ee;
}
.status1{
        color: $supporting-green;
        font-weight: $text-demi;
        padding: 0.25rem 0.5rem;
        margin-bottom: 1rem;
        border-radius: 20px;
        background-color: #eef6f4;
}
.tabletablet{
    @include mobile{
        display: none;
    }
    width: 100%;
    border-collapse: collapse;
    &__row{
        border-bottom: 1px solid $secondary-cloud;
        &:hover{
            background-color: $tablehover;
        }
    }
    &__title{
        background-color: $background-lightgrey;
        &--item{
            color: $secondary-slate;
            font-size: $tabdesk-labels-links-buttons-fontsize;
                &::after {
                margin-left: 5px;
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('../../assets/Icons/sort-24px.svg');
                background-size: 100% 100%;
            }
            @include tablet-and-desktop{
                padding-left: 1.5rem;
            }
            @include desktop{
                width: 10rem;
            }
        }
        &--item1{
            color: $secondary-slate;
            font-size: $tabdesk-labels-links-buttons-fontsize;
            @include desktop{
                padding: 1rem 2rem 1rem 6rem;
            }
        }
    }
    &__data{
        font-size: $tabdesk-p2-body-medium-fontsize;
        padding: 0.9rem 1rem 0 1.5rem;
        @include desktop{
            padding: 0 2rem 0 3rem;
        }
        &--qty{
            padding-left: 4.5rem;
            @include tablet-and-desktop{
                padding-left: 3.5%;
            }
            @include desktop{
                padding-left: 7.5%;
            }
        }
        &--product{
            padding-left: 1.5rem;
            color: $primary-indigo;
            font-weight: $text-demi;
            margin: 0;
            &::after {
            content: " >";
            }
            @include tablet-and-desktop{
                padding-left: 2.5rem;
                padding-top: 1.5rem;
            }
            @include desktop{
                padding: 1rem 2rem;
            }
        }
    }
}
.status3{
    color: $supporting-red;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background-color: #fbf2ee;
}
.status4{
    color: $supporting-green;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background-color: #eef6f4;
}
