@use "../../Style/Partials/variable" as *;
@use "../../Style/Partials/typography" as *;
@use "../../Style/Partials/mixins" as *;
@use "../../Style/Partials/global" as *;
*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.main{
    border-radius: 4px;
}
.header{
    &__headparent{
        @include tablet-and-desktop{
            display: flex;
            flex-direction: row;
            gap: 11rem;
        } 
        @include desktop{
            gap: 36rem;
        } 
    }
    &__header{
        font-size: $mobile-header-fontsize;
        padding-top: 1rem;
        padding-left: 1.5rem;
        margin-bottom: 0.75rem;
        @include tablet-and-desktop{
            font-size: $tabdesk-header-fontsize;
            padding-top: 2rem;
            padding-left: 2rem;
        }
        @include desktop{
            font-size: $tabdesk-header-fontsize;
            padding-top: 2rem;
            padding-left: 2rem;
        }
    }
    &__form{
        &--parent{
            padding-bottom: 1.25rem;
            border-bottom: 2px solid $secondary-cloud;
            @include tablet-and-desktop{
                display: flex;
                flex-direction: row;
                border-bottom: none;
                margin-top: 2rem;
            }
        }
        &--searchinput{
            margin-left: 1.5rem;
            margin-bottom: 1rem;
            border-radius: 20px;
            border: 1px solid $secondary-cloud;
            padding: 0.5rem;
            padding-left: 1rem;
            background-image: url("../../assets/Icons/search-24px.svg");
            background-repeat: no-repeat;
            background-position: right 1rem center;
            width: 85%;
            &::placeholder{
                font-family: "Titillium Web", sans-serif;
                }
            @include tablet-and-desktop{
                    width: 12.5rem;
                    height: 2.5rem;
                    &::placeholder{
                        font-size: $tabdesk-labels-links-buttons-fontsize;
                        }
            }
            @include desktop{
                width: 19rem;
        }
        }
        &--additembutton{
            margin-left: 1.5rem;
            border-radius: 20px;
            border: 1px solid $primary-indigo;
            background-color: $primary-indigo;
            color: $primary-white;
            padding: 0.5rem;
            width: 85%;
            @include tablet-and-desktop{
                width: 9rem;
                height: 2.5rem;
                font-size: $tabdesk-labels-links-buttons-fontsize;
            }
        }
    }
}
.table{
    &__mobilecontainer{
        border-bottom: 2px solid $secondary-cloud;
        @include tablet-and-desktop{
            display: none;
        }
    }
    &__container{
        padding-bottom: 1rem;
        border-bottom: 2px solid $secondary-cloud;
                @include tablet-and-desktop{
            display: none;
        }
    }
    &__detailparent{
            display: flex;
            flex-direction: row;
            gap: 25%;
            padding-left: 1.5rem;
            // @include tablet-and-desktop{
            //     display: flex;
            //     gap: 0;
            //     padding-left: 2rem;
            // }
    }
    // &__wrapper{
        // @include tablet-and-desktop{
        //     display: flex;
        //     gap: 0%;
        // }
    // }
    &__title{
        font-size: $mobile-table-header-fontsize;
        line-height: $mobile-table-header-lineheight;
        color: $secondary-slate;
        font-weight: $text-demi;
        margin-top: 1.25rem;
            // &--tabletdesktopparent{
            //     font-size: $tabdesk-table-header-fontsize;
            //     display: flex;
            //     flex-direction: row;
            //     gap: 3rem;
            //     padding-left: 2rem;
            // }
        }
    &__value{
        margin: 0;
        font-size: $mobile-p2-body-medium-fontsize;
        &--product{
            color: $primary-indigo;
            font-weight: $text-demi;
            margin: 0;
            &::after {
                content: " >";
              }
        } 
    }
    &__button{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0.5rem 2rem 0 1rem;
            &--delete, &--edit{
                border: none;
                background-color: white;
            }
            @include desktop{
                justify-content: flex-start;
                gap: 1rem;
            }
        }
}
.status2{
    color: $supporting-red;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background-color: #fbf2ee;
}
.status1{
        color: $supporting-green;
        font-weight: $text-demi;
        padding: 0.25rem 0.5rem;
        border-radius: 20px;
        background-color: #eef6f4;
}


.tabletablet{
    @include mobile{
        display: none;
    }
    width: 100%;
    border-collapse: collapse;
    &__row{
        border-bottom: 1px solid $secondary-cloud;
    }
    &__title{
        background-color: $background-lightgrey;
        &--item{
            // padding: 0.5rem 1rem;
            color: $secondary-slate;
            font-size: $tabdesk-labels-links-buttons-fontsize;
                &::after {
                margin-left: 5px;
                content: '';
                display: inline-block;
                width: 16px;
                height: 16px;
                background-image: url('../../assets/Icons/sort-24px.svg');
                background-size: 100% 100%;
            }
            @include desktop{
                width: 10rem;
            }
        }
        &--item1{
            // padding: 0.5rem 1rem;
            color: $secondary-slate;
            font-size: $tabdesk-labels-links-buttons-fontsize;
            @include desktop{
                // width: 10rem;
            }
        }
    }
    &__data{
        font-size: $tabdesk-p2-body-medium-fontsize;
        padding: 0.9rem 1rem;
        &--product{
            padding-left: 1.5rem;
            color: $primary-indigo;
            font-weight: $text-demi;
            margin: 0;
            &::after {
            content: " >";
            }
        }
    }
}
.status3{
    color: $supporting-red;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background-color: #fbf2ee;
}
.status4{
    color: $supporting-green;
    font-weight: $text-demi;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    background-color: #eef6f4;
}
.tabletablet__data, .tabletablet__data--product{
    padding: 1rem 2rem;
    // &:nth-child(1) { width: 20%; } // Adjust width for the first column
    // &:nth-child(2) { width: 20%; } // Adjust for the second column, and so on...
    // Adjust the widths as per your requirement
  }
  .tabletablet__title--item{
    padding: 1rem 2rem;
  }