@use '/src/Style/Partials/variable' as *;
@use '/src/Style/Partials/mixins' as *;

.warehouselist {
    margin: 8%;
    margin-top: -8%;
    border-radius: 6px;
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
    background-color: $background-lightgrey;
    font-size: 0.9rem;

    @include tablet-and-desktop {
        margin: 4%;
        margin-top: -8%;
    }

    @include desktop {
        margin-top: -5%;
    }

    &__header {
        display: flex;
        padding-left: 1.8rem;
        padding-bottom: 1px;
        flex-direction: column;

        @include tablet-and-desktop {
            flex-direction: row;
            align-items: center;
            padding-right: 1.8rem;
        }

        &__title {
            flex: 1;

            h1 {
                font-size: 2.5rem;
            }

            @include tablet-and-desktop {
                flex: 3;
            }

            @include desktop {
                flex: 4;
            }
        }

        &__search {
            flex: 1;
            position: relative;
            width: 95%;

            input {
                border-radius: 20px;
                padding: 14px;
                outline: none;
                width: 90%;
                border: 0.5px solid $secondary-cloud;
            }
            
            &__icon {
                position: absolute;
                right: 10px; 
                width: 24px; 
                height: 24px;
                cursor: pointer;
                padding-top: 10px;
                padding-right: 15px;
            }

            @include tablet-and-desktop {
                flex: 2;
                padding-top: 15px;

                input {
                    width: 83%;
                }
            }

            @include desktop {
                flex: 3;
                input {
                    width: 90%;
                }
            }
        }
        
        &__addbutton {
            flex: 1;
            width: 95%;
            padding-bottom: 2rem;
            button {
                margin-left: 3px;
                border-radius: 20px;
                margin-top: 4%;
                padding: 14px 20px;
                color: white;
                cursor: pointer;
                background-color: $primary-indigo;
                border: none;
                width: inherit;
            }

            @include tablet-and-desktop {
                flex: 2;
                padding-top: 2.5rem;
            }

            @include desktop {
                flex: 2;
                padding-bottom: 2rem;
            }
        }
        
    }

    &__items {
        display: flex;
        flex-direction: column;
        padding-left: 1rem;

        @include tablet-and-desktop {
            padding-right: 1rem;
        }

        &__headerrow {
            background-color: $background-lightgrey;
            display: none !important;
            color: $secondary-slate;

            @include tablet-and-desktop {
                display: flex !important;
            }
        }

        &__row {
            display: flex;
            flex: 1;
            flex-wrap: wrap; 
            padding-left: 2%;
            justify-content: space-between;
            flex-direction: row;
            border-bottom: 1px solid $secondary-cloud;

            @include tablet-and-desktop {
                flex: 1;
            }

            &__actioncol {
                @include tablet-and-desktop {
                    width: 11.2%;
                    justify-content:space-around;
                }
                align-items: center;
                width: 90%;
                display: flex;
                justify-content: space-between;
                padding-bottom: 5%;

                &__btns {
                    background-color: transparent;
                    border: none;
                    img {
                        width: 24px;
                    }
                }
            }

            &__item {
                flex: none; 
                width: 50%;
                box-sizing: border-box;
                padding: 10px;

                @include tablet-and-desktop {
                    flex: 2;
                }

                &__mobileonly {
                    color: $secondary-slate;
                    @include tablet-and-desktop {
                        display: none;
                    }
                }

                &__name {
                    display: flex;

                    p {
                        a {
                            color: $primary-indigo;
                            font-weight: bold;
                        }
                    }
                }

                &__namelink {
                    margin-top: -7%;

                    @include tablet-and-desktop {
                        margin-top: 0px;
                    }
                }
            }

            &__contactinfo {
                flex: 3;
                div {
                    p {
                        line-height: 15px;
                    }
                }
            }

            @include tablet-and-desktop {
                flex-direction: row;
            }

            &__field {
                flex: 2;
                display: flex;
                width: 50%;

                button {
                    background-color: transparent;
                    border: none;
                }

                img {
                    width: 16px; 
                }
            }

            &__contactinfo {
                flex: 3;
            }

            &__action {
                flex: 1;
                margin-left: auto;
                display: flex; 
                align-items: center;
                justify-content: center;
                width: 50%;
            }
        }

    }
    
}


