@use '/src/Style/Partials/variable' as *;

.warehouselist {
    // border: 1px solid red;
    margin: 8%;
    border: 1px solid $primary-indigo;

    &__header {
        // border: 1px solid green;
        display: flex;
        align-items: center;
        padding: 2%;
        padding-bottom: 1px;

        &__title {
            flex: 5;

            h1 {
                font-size: 2.5rem;
            }
        }

        &__search {
            flex: 3;
            position: relative;
            width: 95%;

            input {
                border-radius: 20px;
                padding: 14px;
                outline: none;
                width: 90%;
                border: 0.5px solid $secondary-cloud;
            }

            &__icon {
                position: absolute;
                right: 10px; 
                width: 24px; 
                height: 24px;
                cursor: pointer;
                padding-top: 10px;
                padding-right: 15px;
            }

        }
        
        &__addbutton {
            button {
                margin-left: 10px;
                border-radius: 20px;
                padding: 14px 20px;
                color: white;
                cursor: pointer;
                background-color: $primary-indigo;
                border: none;

            }
        }
        
    }

    &__items {
        // border: 1px solid blue;

        &__headerrow {
            background-color: $background-lightgrey;
        }

        &__row {
            display: flex;
            // border-bottom: 2px solid lightgrey;
            border-bottom: 1px solid $secondary-cloud;
            padding-left: 2.5%;
            justify-content: space-between;

            &__field {
                flex: 1;
                display: flex;

                button {
                    background-color: transparent;
                    border: none;
                }

                img {
                    width: 16px; 

                }

                &__name {
                    padding-bottom: 15px;
                    margin-left: 5px;
                }

            }

            &__action {
                margin-left: auto;
                display: flex; /* Ensure the buttons inside are aligned properly */
                align-items: center;
                img {
                    width: 24px;
                }
            }
        }

    }
    
}


