@use "../../Style/Partials/global" as *;
@use "../../Style/Partials/mixins" as *;
@use "../../Style/Partials/variable" as *;
@use "../../Style/Partials/typography" as *;

.footer {
  text-align: center;
  margin-top: 2rem;
  background-color: $background-lightgrey;
  &__tag {
    color:$secondary-slate;
    margin: 2.5rem 0;
    @include mobile-p3-body-small;
    color: $secondary-slate;
    @include tablet-and-desktop {
      @include mobile-p2-body-medium;
    }
    @include desktop {
      margin: 3rem 0;
    }
  }
}
