@use "./variable" as *;

@mixin tablet-and-desktop {
  @media screen and (min-width: $tablet-breakpoint) {
    @content;
  }
}
@mixin desktop {
  @media screen and (min-width: $desktop-breakpoint) {
    @content;
  }
}
// MOBILE
@mixin mobile-header {
  font-size: $mobile-header-fontsize;
  line-height: $mobile-header-lineheight;
}
@mixin mobile-subheader {
  font-size: $mobile-subheader-fontsize;
  line-height: $mobile-subheader-lineheight;
}
@mixin mobile-labels-links-buttons {
  font-size: $mobile-title-fontsize;
  line-height: $mobile-title-lineheight;
}

@mixin mobile-table-header {
  font-size: $mobile-body-fontsize;
  line-height: $mobile-body-lineheight;
}

@mixin mobilep1-body-large {
  font-size: $mobile-btn-fontsize;
  line-height: $mobile-btn-lineheight;
}
@mixin mobile-p2-body-medium {
  font-size: $mobile-btn-fontsize;
  line-height: $mobile-btn-lineheight;
}
@mixin mobile-p3-body-small {
  font-size: $mobile-btn-fontsize;
  line-height: $mobile-btn-lineheight;
}
//TABLET AND DESKTOP
@mixin tabdesk-header {
  font-size: $header-fontsize;
  line-height: $header-lineheight;
}
@mixin tabdesk-subheader {
  font-size: $title-fontsize;
  line-height: $title-lineheight;
}

@mixin tabdesk-labels-links-buttons {
  font-size: $body-fontsize;
  line-height: $body-lineheight;
}

@mixin tabdesk-table-header {
  font-size: $btn-fontsize;
  line-height: $btn-lineheight;
}
@mixin tabdesk-p1-body-large {
  font-size: $btn-fontsize;
  line-height: $btn-lineheight;
}
@mixin tabdesk-p2-body-medium {
  font-size: $btn-fontsize;
  line-height: $btn-lineheight;
}
@mixin tabdesk-p3-body-small {
  font-size: $btn-fontsize;
  line-height: $btn-lineheight;
}
