@use "../../Style/Partials/global" as *;
@use "../../Style/Partials/mixins" as *;
@use "../../Style/Partials/variable" as *;
@use "../../Style/Partials/typography" as *;

.addinventory {
  position: absolute;
  top: 11rem;
  margin: 0 1rem;
  border-radius: 0.25rem;
  background-color: $primary-white;
  box-shadow: 0 2px 5px 0 rgba(19, 24, 44, 0.1);
  @include tablet-and-desktop {
    margin: 0 2rem;
    top: 7.5rem;
  }
  @include desktop {
    margin: 0 8rem;
  }
  &__header-wrap {
    border-bottom: 1px solid $secondary-cloud;
    display: flex;
    padding: 2rem 0;
  }
  &__header-icon {
    margin-left: 0.5rem;
  }
  &__title {
    @include mobile-header;
    font-weight: $text-demi;
    margin: 0;
    margin-left: 0.5rem;
    @include tablet-and-desktop {
      @include tabdesk-header;
    }
  }
  &__detail-form-container {
    @include tablet-and-desktop {
      display: flex;
      justify-content: space-between;
    }
  }
  &__detail {
    padding: 0 1rem;
  }
  &__form-detail{
    position: relative;
  }
  &__form-header {
    @include mobile-subheader;
  }
  &__form-name {
    @include mobile-labels-links-buttons;
    font-weight: $text-demi;
    padding-top: 0.7rem;
  }
  &__form-radio {
    @include mobile-labels-links-buttons;
  }
  &__form-radio-wrap {
    display: flex;
    justify-content: flex-start;
    gap: 3rem;
    @include tablet-and-desktop {
      justify-content: flex-start;
      gap: 4rem;
    }
  }
  &__form-input {
    border-radius: 1.25rem;
    border: 1px solid $secondary-cloud;
    height: 2.25rem;
    width: 12.4375rem;
    padding: 0 1rem;
    position: relative;
    @include mobile-labels-links-buttons;
    @include tablet-and-desktop {
      width: 18rem;
    }
    @include desktop {
      width: 26.8125rem;
    }
  }
  &__form-input-des {
    border-radius: 1.25rem;
    border: 1px solid $secondary-cloud;
    height: 7.5rem;
    width: 12.4375rem;
    padding: 0 1rem;
    &::placeholder {
      text-align: left;
      padding-top: 1rem;
    }
    @include tablet-and-desktop {
      width: 18rem;
    }
    @include desktop {
      width: 26.8125rem;
    }
  }
  &__form-name-quantity {
    @include desktop {
      display: none;
    }
  }
  &__form-input-icon {
    position: absolute;
    top: 52.5%;
    right: 3rem;
    pointer-events: none;
    @include tablet-and-desktop {
      top: 80%;
      right: 55%;
    }
  }
  &__form-input-icon-quality {
    position: absolute;
    top: 87.5%;
    right: 3rem;
    pointer-events: none;
    @include tablet-and-desktop {
      top: 64%;
    }
    @include desktop {
      top: 49%;
    }
  }
  &__error-message{
    color: $supporting-red;
    font-size: $mobile-table-header-fontsize;
    position: absolute;
    bottom: -1rem; 
    left: .9rem;
    margin: 0;
  }
  &__divider {
    border-bottom: 1px solid $secondary-cloud;
    margin-top: 2rem;
    @include tablet-and-desktop {
      border-left: 1px solid $secondary-cloud;
      border-bottom: none;
      text-align: center;
    }
  }
  &__btn-wrap {
    background-color: $background-lightgrey;
    display: flex;
    justify-content: space-around;
    padding: 1rem 0;
    margin-top: 1.5rem;
    @include tablet-and-desktop {
      padding-right: 2rem;
      justify-content: flex-end;
    }
  }
  &__btn-cancel {
    background-color: $primary-white;
    border-radius: 1.25rem;
    border: $secondary-cloud;
    text-align: center;
    height: 2.25rem;
    width: 7.6875rem;
    @include tablet-and-desktop {
      width: 4.5rem;
      height: 2.375rem;
    }
  }
  &__btn-addItem {
    background-color: $primary-indigo;
    text-align: center;
    height: 2.25rem;
    width: 7.6875rem;
    border-radius: 1.25rem;
    border: none;
    color: $primary-white;
    @include tablet-and-desktop {
      width: 6rem;
      height: 2.375rem;
      margin-left: 1rem;
    }
  }
}
